/* ===============================
   Unlock 2 Earn Premium Dashboard
================================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:linear-gradient(180deg,#0b1220,#111827,#0f172a);
    color:#fff;
    font-family:'Segoe UI',sans-serif;
    min-height:100vh;
}

/* Navbar */

.navbar{
    background:rgba(17,24,39,.9)!important;
    backdrop-filter:blur(15px);
    border-bottom:1px solid rgba(255,255,255,.08);
    padding:15px 20px;
}

.navbar h4{
    font-size:30px;
    font-weight:700;
    letter-spacing:.5px;
}

.navbar .btn{
    color:#fff;
}

.bi-bell-fill{
    color:#facc15!important;
}

/* Sidebar */

.offcanvas{
    width:290px;
    background:#111827;
    color:#fff;
}

.offcanvas-header{
    border-bottom:1px solid rgba(255,255,255,.08);
}

.menu-item{
    display:flex;
    align-items:center;
    gap:12px;
    color:#fff;
    text-decoration:none;
    padding:14px 16px;
    margin-bottom:8px;
    border-radius:12px;
    transition:.3s;
    font-size:17px;
}

.menu-item:hover{
    background:#2563eb;
    color:#fff;
    transform:translateX(5px);
}

/* Cards */

.card{
    background:rgba(31,41,55,.88)!important;
    backdrop-filter:blur(15px);
    border:1px solid rgba(255,255,255,.08);
    border-radius:22px;
    box-shadow:0 12px 35px rgba(0,0,0,.35);
    transition:.3s;
}

.card:hover{
    transform:translateY(-4px);
}

.card-body{
    padding:25px;
}

.card-title{
    font-size:30px;
    font-weight:700;
    margin-bottom:25px;
}

/* Analytics */

.d-flex{
    padding:10px 0;
    border-bottom:1px solid rgba(255,255,255,.08);
}

.d-flex:last-child{
    border:none;
}

.d-flex span{
    color:#d1d5db;
    font-size:18px;
}

.d-flex strong{
    color:#38bdf8;
    font-size:22px;
    font-weight:bold;
}

/* Buttons */

.btn{
    border-radius:14px;
    padding:13px;
    font-weight:700;
}

.btn-primary{
    background:linear-gradient(135deg,#2563eb,#06b6d4);
    border:none;
}

.btn-primary:hover{
    transform:translateY(-2px);
}

.btn-outline-light{
    border:2px solid #64748b;
}

.btn-outline-light:hover{
    background:#fff;
    color:#111827;
}

/* Table */

.table{
    margin-bottom:0;
}

.table th{
    border:none;
    color:#94a3b8;
}

.table td{
    border-color:rgba(255,255,255,.08);
}

.table a{
    color:#38bdf8;
    text-decoration:none;
}

.table a:hover{
    color:#60a5fa;
}

/* Scrollbar */

::-webkit-scrollbar{
    width:6px;
}

::-webkit-scrollbar-thumb{
    background:#2563eb;
    border-radius:20px;
}

/* Mobile */

@media(max-width:768px){

.navbar h4{
    font-size:24px;
}

.card-title{
    font-size:22px;
}

.menu-item{
    font-size:16px;
}

.btn{
    font-size:16px;
}

   }
